.footer {
  background-color: var(--header-footer-bg-color);
  border-top      : 1px solid var(--border-color);
  color           : var(--text-color);


  li {
    list-style-type: none !important;
    padding        : 5px 0 !important;
  }

  a {
    text-decoration: none;
    color          : var(--text-color);
  }

  a:hover,
  a:focus,
  .active {
    color: var(--accent-color);
  }

  .copyright {
    border-top: 1px solid var(--border-color);
    color     : var(--copyright-color);
    text-align: center;
    margin    : 0 30px;
    padding   : 15px 0;
    font-size : 14px;
  }
}