mat-toolbar {
  height          : auto;
  background-color: var(--header-footer-bg-color) !important;
  border-bottom   : 1px solid var(--border-color);
  overflow        : hidden;
}

button {
  font-size: 16px;
}

.logo {
  width : 128px;
  margin: 1rem 1.5rem;
}

.active {
  color: var(--accent-color);
}

.spacer {
  flex: 1 1 auto;
}

.vertical-divider {
  background-color: var(--border-color);
  display         : inline;
  margin          : 0 5px 0 10px;
}

.sun-color {
  color: orange;
}

.moon-color {
  color: var(--accent-color);
}

.grey-color {
  color: grey;
}